<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 espacio">

        </div>
        <div class="col-md-10 espacio">

        </div>

        <div class="col-md-2 espacio">
            <span>Username:</span>

        </div>
        <div class="col-md-10 espacio">
        <input type="text" [(ngModel)]="usernameCliente" maxlength="45" class="inputBasico">
            
        </div>
        <div class="col-md-2 espacio">
            <span>Contraseña</span>

        </div>
        <div class="col-md-10 espacio">
            <input type="password" [(ngModel)]="contraCliente" maxlength="500" class="inputBasico">

        </div>
        <div class="col-md-2 espacio">
            <span>Nombre Cliente:</span>

        </div>
        <div class="col-md-10 espacio">
            <input type="text" [(ngModel)]="nombreCliente" maxlength="100" class="inputBasico">

        </div>
        <div class="col-md-2 espacio">
            <span>Apellido Cliente:</span>

        </div>
        <div class="col-md-10 espacio">
            <input type="text" [(ngModel)]="apellidoCliente" maxlength="100" class="inputBasico">

        </div>
        <div class="col-md-2 espacio">
            <span>Telefono</span>

        </div>
        <div class="col-md-10 espacio">
            <input type="number" [(ngModel)]="telefonoCliente" maxlength="45" class="inputBasico">

        </div>
        <div class="col-md-2 espacio">
            <span>Direccion</span>

        </div>
        <div class="col-md-10 espacio">
            <input type="text" [(ngModel)]="direccionCliente" maxlength="200" class="inputBasico">

        </div>
        <div class="col-md-2 espacio">
            <span>Nit</span>

        </div>
        <div class="col-md-10 espacio">
            <input type="text" [(ngModel)]="nitCliente" maxlength="30"class="inputBasico">

        </div>
        <div class="col-md-2 espacio">
            <span>Correo</span>

        </div>
        <div class="col-md-10 espacio">
            <input type="email"[(ngModel)]="correoCliente" class="inputBasico">

        </div>

        <div class="col-12 espacio">
            <button mat-raised-button color="primary" (click)="crearcliente()" class="full-width">Crear Cliente</button>
        </div>
    </div>
</div>