.cardPelicula{
    border-radius:0.25rem;
    border: 1px solid rgba(0,0,0,.125);
}
.boton{
    // width: fit-content;
    margin-top: 5px;
}
.mat-expansion-panel-body{
    padding: 0 0px 0px !important; 
}