<div  >
    <mat-card class="row">
        <div class="col-12" style="align-items: center;">
            <img src="{{urlImagenPrincipal}}" style="max-width: 100%; max-height: 150px; margin: auto;" alt="">
        </div>
        <div class="col-12 espacio" style="text-align: center;">
            <span >{{Pelicula.nombre}}</span>
        </div>
        <div >
            <mat-expansion-panel class="row" >
            <mat-expansion-panel-header>
            <mat-panel-title>
                Funciones
            </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row">
                <div class="col-6 col-md-5" *ngFor="let func of Pelicula.funciones" >
                    <button mat-raised-button class="boton" (click)="GoCompra(func.codFuncion, func.codSala,func.codSala)">
                        {{formatoFecha(func.fechaHoraInicio)}}
                    </button>
                </div>
            </div>
                
                
            </mat-expansion-panel>
        </div>
    </mat-card>
</div>